* {
  margin: 0;
  padding: 0;
  font-family: italic;
}

.musashi {
  background-color: black;
}

.texto {
  color: white;
  text-align: center;
  margin-top: 5rem;
}

Nav,
Navbar,
.nav-musashi {
  background-color: #cc0000;
  gap: 2rem;
  width: 100vw;
}

.me-auto > a {
  display: flex;
  color: #000000;
  text-decoration: none;
  margin: 0.2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.error {
  color: white;
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
}

.boton {
  width: 50%;
}

img {
  width: 100%;
  height: 20rem;
}

.store {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
}

.itembody {
  background-color: #212121;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}

.Contador {
  background-color: #212121;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.Controles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.Button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.Cantidad {
  color: white;
  margin: 0 0.8rem;
}

div {
  margin: 0.2rem;
  margin-top: 0.2rem;
}

.Button2 {
  display: inline-block;
  background-color: #212121;
  border: none;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  justify-self: center;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 15%;
}

.Button-X {
  display: grid;
  border: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  justify-self: right;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 5%;
}

.changuito {
  border: none;
  color: #000000;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  justify-self: right;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
}

.counter {
  display: grid;
  color: #ffffff;
  text-decoration: none;
  justify-self: center;
  margin-top: -0.7rem;
}

.carrito {
  display: grid;
  text-align: center;
  align-items: center;
  color: #fff;
  margin-top: 3rem;
}

span {
  display: grid;
  margin: 0.5rem 0;
  color: #ffffff;
}

.cart-item {
  display: grid;
  margin-top: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  background-color: #212121;
  width: 30%;
  justify-self: center;
  margin-bottom: 1rem;
}

.cart-vacio {
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.check-form {
  display: grid;
  justify-content: center;
  
}

.check {
  margin-top: 1rem;
  color: #ffffff;
  text-align: center;
}

.check2 {
  margin-bottom: 5rem;
}

.checkout {
  display: grid;
  margin: 2rem 0rem;
  gap: 2rem;
  background-color: #212121;
  width: 50vw;
  text-align: center;
  color: #ffffff;
}

label {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
}

.talon {
  color: #ffffff;
  margin-top: 2rem;
  text-align: center;
}

.pursuit {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
}

.receipt {
  display: grid;
  color: #ffffff;
  background-color: #212121;
  text-align: center;
  width: 50vw;
}